.env
# Entornos virtuales
venv/
.env/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Archivos de logs
*.log

# Archivos de bases de datos locales
backend/data/chroma/
*.sqlite3

# Archivos de configuración de IDE
.vscode/
.idea/